<!doctype html>
{%load staticfiles%}
<html lang="en" class="no-js" xml:lang="nep">
<head>
	<title>{%block title_head%}Fill-me Up | Donation Website{%endblock title_head%}</title>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">



	<link href='http://fonts.googleapis.com/css?family=Montserrat:300,400,700' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Raleway:400,300,500,600,700' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,400italic' rel='stylesheet' type='text/css'>


	<link rel="stylesheet" type="text/css" href='{%static "css/bootstrap.min.css"%}' media="screen">
	<link rel="stylesheet" type="text/css" href='{%static "css/jquery.bxslider.css"%}' media="screen">
	<link rel="stylesheet" type="text/css" href='{%static "css/owl.carousel.css"%}' media="screen">
  <link rel="stylesheet" type="text/css" href='{%static "css/owl.theme.css"%}' media="screen">
	<link rel="stylesheet" type="text/css" href='{%static "css/font-awesome.css"%}' media="screen">

	<!-- REVOLUTION STYLE SHEETS -->
	<link rel="stylesheet" type="text/css" href='{%static "css/settings.css"%}'>
	<!-- REVOLUTION LAYERS STYLES -->
	<link rel="stylesheet" type="text/css" href='{%static "css/layers.css"%}'>
	<!-- REVOLUTION NAVIGATION STYLES -->
	<link rel="stylesheet" type="text/css" href='{%static "css/navigation.css"%}'>

	<link rel="stylesheet" type="text/css" href='{%static "css/style.css" %}' media="screen">


	<script type="text/javascript" src='{%static "js/jquery.min.js"%}'></script>
	<script type="text/javascript" src='{%static "js/jquery.migrate.js"%}'></script>
	<script type="text/javascript" src='{%static "js/jquery.bxslider.min.js"%}'></script>
	<script type="text/javascript" src='{%static "js/jquery.appear.js"%}'></script>
	<script type="text/javascript" src='{%static "js/jquery.countTo.js"%}'></script>
	<script type="text/javascript" src='{%static "js/owl.carousel.min.js"%}'></script>
	<script type="text/javascript" src='{%static "js/bootstrap.min.js"%}'></script>
	<script type="text/javascript" src='{%static "js/jquery.imagesloaded.min.js"%}'></script>
	<script type="text/javascript" src='{%static "js/retina-1.1.0.min.js"%}'></script>

	<!-- REVOLUTION JS FILES -->
	<script type="text/javascript" src='{%static "js/jquery.themepunch.tools.min.js"%}'></script>
	<script type="text/javascript" src='{%static "js/jquery.themepunch.revolution.min.js"%}'></script>

	<!-- SLIDER REVOLUTION 5.0 EXTENSIONS
		(Load Extensions only on Local File Systems !
		The following part can be removed on Server for On Demand Loading) -->
	<script type="text/javascript" src='{%static "js/extensions/revolution.extension.actions.min.js"%}'></script>
	<script type="text/javascript" src='{%static "js/extensions/revolution.extension.carousel.min.js"%}'></script>
	<script type="text/javascript" src='{%static "js/extensions/revolution.extension.kenburn.min.js"%}'></script>
	<script type="text/javascript" src='{%static "js/extensions/revolution.extension.layeranimation.min.js"%}'></script>
	<script type="text/javascript" src='{%static "js/extensions/revolution.extension.migration.min.js"%}'></script>
	<script type="text/javascript" src='{%static "js/extensions/revolution.extension.navigation.min.js"%}'></script>
	<script type="text/javascript" src='{%static "js/extensions/revolution.extension.parallax.min.js"%}'></script>
	<script type="text/javascript" src='{%static "js/extensions/revolution.extension.slideanims.min.js"%}'></script>
	<script type="text/javascript" src='{%static "js/extensions/revolution.extension.video.min.js"%}'></script>

	<script type="text/javascript" src='{%static "js/script.js"%}'></script>


</head>



</style>
</head>
<body>

	<!-- Container -->
	<div id="container">
		<!-- Header
		    ================================================== -->
				<header>
				<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
						<div class="top-line">
							<div class="container">
								<div class="row">
									<div class="col-md-8">
										<ul class="info-list">
									<li>
										<i class="fa fa-globe"></i>
										Language: <span title="English"><a lang="en" href="qa-html-language-declarations.es">English</a></span>
									</li>
									<li>
										<i class="fa fa-phone"></i>
										Call us:
										<span>+977 9843002632</span>
									</li>

								</ul>
									</div>
									<div class="col-md-4">
										<ul class="social-icons">
											<li><a class="facebook" href="#"><i class="fa fa-facebook"></i> | </a></li>
											<li><a class="twitter" href="#"><i class="fa fa-twitter"></i> | </a></li>
											<li><a class="google" href="#"><i class="fa fa-google-plus"></i> | </a></li>
											<li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i> | </a></li>
											<li><a class="dribble" href="#"><i class="fa fa-dribbble"></i> | </a></li>
										</ul>
									</div>
								</div>
							</div>
						</div>
						<div class="container">
							<!-- Brand and toggle get grouped for better mobile display -->
						
							<!-- Collect the nav links, forms, and other content for toggling -->
							<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
								<ul class="nav navbar-nav navbar-right">
									<li><a class="active" href="{% url 'home' %}">Home</a></li>
									<li><a href="#">About</a></li>
									<li><a href="#">Donations</a></li>
									<li><a href="/posts/">Blogs</a></li>
									<li><a href="contact.html">Contact</a></li>
									<li class="search"><a href="#" class="open-search"><i class="fa fa-search"></i></a>
								<form class="form-search" method='GET' action=''>
									<input type="search" placeholder="Search:"/>
									<button type="submit">
										<i class="fa fa-search"></i>
									</button>
								</form>
							</li>
								</ul>
							</div><!-- /.navbar-collapse -->
						</div><!-- /.container-fluid -->
					</nav>
				</header>
		<!-- End Header -->
{%block content%}
{%endblock content%}

		<!-- subcribe-section
			================================================== -->
		<section class="subcribe-section">
			<div class="container">
				<div class="title-section white">
					<h1>Join Our Messageboard</h1>
				</div>
				<form class="subscribe">

					<input type="submit" id="submit-subscribe" value="Sign Up"/>
				</form>
				<p>Please contact us if you want to do charity through the mailbox.</p>
			</div>
		</section>
		<!-- End subscribe section -->

		<!-- footer
			================================================== -->
		<footer>
			<div class="container">
				<div class="row">
					<div class="col-md-4">
						<div class="contact-info">
							<h2><i class="fa fa-location-arrow"></i> Our Address</h2>
							<p>Fill-me Up</br>Pukchowk, Lalitpur, Nepal.</p>
						</div>
					</div>
					<div class="col-md-4">
						<div class="contact-info">
							<h2><i class="fa fa-envelope-o"></i> Contact Us</h2>
							<p>+977 9843002632 </p>
						</div>
					</div>
					<div class="col-md-4">
						<div class="contact-info">
							<h2><i class="fa fa-clock-o"></i> Office hours</h2>
							<p>Monday to Friday: 10:00 - 17:00 <br> Saturday, Sunday: 10:00 - 13:00</p>
						</div>
					</div>
				</div>
			</div>
		</footer>
		<!-- End footer -->

	</div>
	<!-- End Container -->

	<!-- Revolution slider -->
	<script type="text/javascript">
		var tpj=jQuery;
		var revapi66;
		tpj(document).ready(function() {
			if(tpj("#rev_slider_66_1").revolution == undefined){
				revslider_showDoubleJqueryError("#rev_slider_66_1");
			}else{
				revapi66 = tpj("#rev_slider_66_1").show().revolution({
					sliderType:"standard",
					jsFileLocation:"js/",
					sliderLayout:"fullwidth",
					dottedOverlay:"none",
					gridheight:600,
					gridwidth:1140,
					delay:9000,
					navigation: {
						keyboardNavigation:"off",
						keyboard_direction: "horizontal",
						mouseScrollNavigation:"off",
						onHoverStop:"off",
						touch:{
							touchenabled:"on",
							swipe_threshold: 75,
							swipe_min_touches: 1,
							swipe_direction: "vertical",
							drag_block_vertical: false
						},
                        arrows: {
                            style: "uranus",
                            enable: true,
                            hide_onmobile: true,
                            hide_under: 778,
                            hide_onleave: true,
                            hide_delay: 200,
                            hide_delay_mobile: 1200,
                            tmp: '',
                            left: {
                                h_align: "left",
                                v_align: "center",
                                h_offset: 20,
                                v_offset: 0
                            },
                            right: {
                                h_align: "right",
                                v_align: "center",
                                h_offset: 20,
                                v_offset: 0
                            }
                        }
					},
					lazyType:"none",
					shadow:0,
					spinner:"off",
					stopLoop:"on",
					stopAfterLoops:0,
					stopAtSlide:1,
					shuffle:"off",
					autoHeight:"off",
					fullScreenAlignForce:"off",
					fullScreenOffsetContainer: "",
					fullScreenOffset: "",
					disableProgressBar:"on",
					hideThumbsOnMobile:"off",
					hideSliderAtLimit:0,
					hideCaptionAtLimit:0,
					hideAllCaptionAtLilmit:0,
					debugMode:false,
					fallbacks: {
						simplifyAll:"off",
						nextSlideOnWindowFocus:"off",
						disableFocusListener:false,
					}
				});
			}
		});	/*ready*/
	</script>
</body>
</html>
